@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

:root{
    --body:hsl(30, 38%, 92%);
    --primary:hsl(0, 0%, 100%);
    --color-title:hsl(212, 21%, 14%);
    --color-p: hsl(228, 12%, 48%);
    --color-sec: hsl(158, 36%, 37%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--body);
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.card-main{
    width: 45%;
    background-color: var(--primary);
    height: 75%;
    border-radius: 10px;
    display: flex;
}

.card-img-d{
    width: 50%;
}
.card-img-m{
    display: none;   
}

.card-img-d img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.card-content{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 30px;
    justify-content: space-around;
}

.card-content h1{
    font-family: 'Fraunces', sans-serif;
    color: var(--color-title);
}

.card-content p{
    color: var(--color-p);
    font-size: 14px;
}

.prices{
    display: flex;
    align-items: center;
    gap: 10px
}

.prices h1{
    color: var(--color-sec);
}

.prices p{
    text-decoration: line-through;
}

.card-content button{
    padding: 15px;
    background-color: var(--color-sec);
    color: var(--primary);
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card-content button:hover{
    cursor: pointer;
    background-color: hsl(158, 36%, 24%);
}

@media only screen and (max-width: 1180px){
    .card-main {
        width: 50%;
    }
}

@media only screen and (max-width: 1080px){
    .card-main {
        width: 55%;
    }
}

@media only screen and (max-width: 960px){
    .card-main {
        width: 65%;
    }
}
@media only screen and (min-height: 900px){
    .card-main {
        height: 45%;
    }
}

@media only screen and (max-width:740px){
    .card-main {
        flex-direction: column;
        width: 70%;
        height: 90%;
    }
    .card-img-d{
        display: none;
    }

    .card-img-m{
        width: 100%;
        height: 35%;
        display: block;   
    }

    .card-img-m img{
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0 0;
    }
    .card-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 65%;
        justify-content: space-around;  
    }

}

@media only screen and (max-width: 540px){
    .card-main {
        width: 90%;
    }
}